@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    box-sizing: border-box;
}

#home { 
    background-image: url("images/pizza_background.jpg");
    background-size: cover;
    background-position: 50% 80%;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 1rem;
    text-align: center;
}



.title h1, .title h3 {
    text-align: center;
    color:white;
    font-family: "Pacifico",sans-serif;
    font-size: 4rem;
    margin: 0.5rem;
}

@media (min-width:42.5rem) {
    .title h1, .title h3 {
        font-size: 5rem;
        margin: 3rem;
        padding: 1rem;
    }
}

.title h3 {
    font-size: 2.5rem;
}

.order {
    color: white;
    background-color: transparent;
    font-size: 2rem;
    border-color: white;
    font-family: "Anton";
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.order:hover, .order:active {
    /* background-color: rgb(58, 56, 56); */
    animation: moveup 0.4s ease-out forwards;
}

.order:focus {
    outline:none;
}

@keyframes moveup {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-0.3rem);
    }
}