@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

main {
    grid-row: 2 / 3;
}

.grid-container {
    display: grid;
    grid-template-rows: 3.2rem auto auto;
}

.main-header {
    width: 100%;
    height: 3.5rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 102;
    background-color: rgb(58, 56, 56);
    padding: 0.5rem 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.toggle-button {
    position: relative;
    z-index: 1000;
    width: 3rem;
    height: 3rem;
    border: 1px white solid;
    border-radius: 0.8rem;
    cursor: pointer;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button__bar {
    display: block;
    width: 100%;
    background-color: rgb(58, 56, 56);
    height: 0.1rem;
    margin: 0.6rem 0;
}

.main-nav {
    display: none;
}

.main-nav__items {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.main-nav__item {
    margin: 0 1rem;
}

.main-nav__item a,
.mobile-nav__item a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 0.2rem 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    border-bottom: 3px solid white;
}

.shopping-card-icon img {
    width: 2rem;
    height: 2rem;
    object-fit: contain;
}

.mobile-nav {
    display: none;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background-color: rgb(58, 56, 56);
    width: 50%;
    height: 100%;
    overflow-y: scroll;

}

.mobile-nav__items {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.mobile-nav__item {
    margin: 2rem 0;
}

.shopping-card {
    display: none;
    position: fixed;
    z-index: 101;
    right: -1rem;
    top: 0;
    background-color: rgb(58, 56, 56);
    width: 80%;
    height: 100%;
    padding-top: 4rem;
    color: white;
    overflow-y: scroll;
    
}

.shopping-card-product {
    width: 80%;
    padding: 1rem;
    margin: 1rem auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    border-radius: 1rem ;
}

.shopping-card-product img {
    width: 4rem;
    height: 4rem;
}

.shopping-card-product-name {
    font-weight: bold;
}

.shopping-card-product-quantity {
    width: 2.5rem;
    height: 2rem;
    text-align: center;
    border: 1px solid white;
    border-radius: 0.5rem;
    background-color: rgb(58, 56, 56);
    color: white;
    outline: none;
}

.shopping-card-total {
    width: 80%;
    margin: auto;
    text-align: center;
    position: relative;
    left: -2.5rem;
}

.shopping-card-total-title,
.shopping-card-total-value {
    display: inline-block;
    margin: 0.2rem;
}

.remove {
    font-family: "Montserrat", sans-serif;
    margin: 1rem;
    width: 5rem;
    height: 2rem;
    font-size: 1rem;
    background-color: rgb(58, 56, 56);
    color: white;
    border: 1px solid white;
    border-radius: 0.5rem;
}

.remove:hover,
.remove:active {
    background-color: white;
    color: rgb(58, 56, 56);
    outline: none;
}

.open {
    display: block;
}

.main-footer {
    width: 100%;
    padding: 1rem;
    grid-row: 3 / 4;
    background-color: rgb(58, 56, 56);
    text-align: center;
    font-family: "Anton";
    color: white;
}

.main-footer__title {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 2rem;
    padding: 0.5rem;
    font-size: 3rem;
    border-bottom: 1px solid white;
    padding-bottom: 0;
}


.main-footer__first-section {
    border: 2px solid white;
    border-radius: 1rem;
    padding: 1rem;
}

.main-footer__info {
    /* text-align: left; */
    font-size: 1rem;
}

.main-footer-contact a {
    text-decoration: none;
    color: white;
}

@media (min-width: 43rem) {
    .main-header{
        justify-content: center;
        padding: 1rem 1.5rem;
    }

    .shopping-cart-icon {
        justify-self: flex-end ;
    }

    .toggle-button {
        display: none;
    }

    .main-nav {
        display: flex;
    }
    .main-footer__first-section {
        display: flex;
        margin: 1rem auto;
        flex-direction: row;
        justify-content: space-between;
        max-width: 45rem;
    }

    .main-footer__info {
        text-align: left;
    }
}

@media (min-width: 43rem) {
    .shopping-card {
        width: 65%;
        height: 100%;
    }
    .shopping-card-product {
        display: grid;
        grid-template-columns: repeat(5,1fr);
        justify-items: center;
    }
    .shopping-card-product-name {
        justify-self: start;
    }
}