@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    box-sizing: border-box;
}

.order-online-products {
    max-width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(19rem,1fr));
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    align-items: center;
    
}

.order-online-product {
    padding: 0.5rem;
    margin: 2rem auto;
    text-align: center;
}

.order-online-product:hover,
.order-online-product:active {
    border: 2px solid rgb(58, 56, 56);
    border-radius: 1rem;
}

.order-online-product img {
    width: 70%;
    height: 70%;
    object-fit: contain;
}

.order-online-product-name {
    font-weight: 700;
    height: 2rem;
}

.order-online-product-description {
    height: 4rem;
}

.order-online-product-add-card {
    background-color: rgb(58, 56, 56);
    color: white;
    border-radius: 1rem;
    height: 3rem;
    font-size: 1rem;
    font-family: "Anton";
    padding: 0.5rem;
    margin: 1rem;
}

.order-online-product-add-card:hover,
.order-online-product-add-card:active {
    background-color: white;
    color: rgb(58, 56, 56);
}

.order-online



